@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* html {
  scroll-behavior: smooth;
} */

:root {
  --main-color: #6155f5;
  --main-color-dark: #1b10a4;
  --point-color: #c2f970;
  --black-color: #000;
  --black-color-50: rgba(0, 0, 0, 0.5);
  --white-color: #fff;
  --gray-color: #666;

  --swiper-theme-color: var(--point-color);

  --border-radius-100: 100%;
  --border-radius-lg: 28px;
  --border-radius-md: 20px;
  --border-radius-sm: 10px;

  --heading-1: 6.25vw; /* 120px */
  --heading-2: 2.917vw; /* 56px; */
  --heading-3: 48px;
  --heading-4: 40px;
  --heading-5: 28px;

  --text-lg: 24px;
  --text-md: 20px;
  --text-sm: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

hr {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--point-color);
}

body {
  background: #001e4b;
  background: linear-gradient(
    180deg,
    rgba(0, 30, 75, 1) 0%,
    rgba(24, 73, 147, 1) 22%,
    rgba(17, 141, 175, 1) 42%,
    rgba(85, 10, 114, 1) 62%,
    rgba(204, 41, 54, 1) 80%,
    rgba(255, 164, 17, 1) 100%
  );
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: var(--white-color);
  word-break: keep-all;

  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 100px;
  background: transparent;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  backdrop-filter: blur(5px);

  /* 초기 상태 설정 및 GPU 가속 활성화 */
  height: 100px;
  transform: translateY(0);
  will-change: transform;
}

.gnb {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.gnb a {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

section {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid #000; */
}

.inner {
  position: relative;
  /* max-width: 1600px; */
  width: min(83.333%, 1600px);
  height: 80%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* home */
.home-title {
  text-align: center;
}

.home-title h1 {
  font-weight: 700;
  font-size: var(--heading-1);
  font-family: "PyeongchangPeace";
  text-transform: uppercase;
}
.home-title strong {
  font-weight: 300;
  font-size: var(--heading-3);
  font-family: "PyeongchangPeace";
}
.home-title h2 {
  font-weight: 400;
  font-family: "Caveat Brush", cursive;
  font-size: 80px;
  line-height: 1;
  color: var(--point-color);
}

.designer-hong {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  /* width: 400px; */
  width: 20.83vw;
  aspect-ratio: 3/3.5;
  background: pink;
  opacity: 0.4;
}

.section-title {
  font-weight: 700;
  font-size: var(--heading-2);
  font-family: "PyeongchangPeace";
  text-transform: uppercase;
  text-align: center;
}

/* about */
.flex-wrap {
  display: flex;
  gap: 20px;
  margin-top: 80px;
  width: 80%;
}

.flex-item {
  flex: 1 1 45%;
}

/* .about-hong {
  border: 1px solid #000;
} */

.about-hong dt {
  font-weight: 900;
  font-size: 18px;
  color: var(--main-color-dark);
  background: var(--white-color);
  width: fit-content;
  padding: 5px 20px;
  border-radius: var(--border-radius-lg);
  text-transform: uppercase;
}
.about-hong dd {
  margin-top: 14px;
}

.about-hong dd + dd {
  margin-top: 0;
}

.about-hong dd + dt {
  margin-top: 42px;
}

.skill-list {
  display: flex;
  gap: 10px;
}

.skill-list li {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-100);
  border: 1px solid #000;
  overflow: hidden;
}
.skill-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: var(--heading-3);
  font-family: "PyeongchangPeace";
  text-transform: uppercase;
}

.portfolio-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/0.4;
  background: var(--white-color);
  border-radius: var(--border-radius-lg);
  border: 5px solid #000;
  transform-origin: 100% 100%;
  will-change: transform;
  padding: 50px;
  color: var(--black-color);
}

.experience-list {
  margin-top: 40px;
}

.experience-list li + li {
  margin-top: 40px;
}

.experience-list li time {
  font-weight: 700;
  font-size: 18px;
}

.experience-list li h4 {
  font-weight: 700;
  font-size: var(--heading-5);
  margin-top: 8px;
}

.experience-list li p {
  margin-top: 8px;
}

/* banner */

.banner .inner {
  width: 100%;
}

.banner-slider-wrap {
  /* border: 1px solid #0f0; */
  position: relative;
}

.banner-slider-wrap .banner-slider {
  padding: 80px 0;
  /* overflow: visible; */
}

.banner-slider-wrap .banner-slider .swiper-slide {
  width: 400px;
  height: 400px;
  border: 8px solid #fff;
  border-radius: var(--border-radius-md);
  transition: 0.4s;
}

.banner-slider-wrap .banner-slider .swiper-slide:nth-child(even) {
  transform: translateY(-50px);
}

.banner-slider-wrap .banner-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
}

.contact {
  height: 80vh;
}

.contact-content {
  /* border: 1px solid #000; */

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: fit-content;
}

.contact-content .section-title {
  text-align: left;
}

/* Lenis.js CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
